{% extends 'boxshadow.html.twig' %}

{% block children %}
    <div class="trick-form">
        {{ form_start(form) }}
        <div class="content-img position-relative" style="background-image:url(
        {% if trick.mainImage is defined and trick.mainImage is not empty %}{{ asset('images/tricks/' ~ trick.mainImage.imageName) }}
        {% else %}{{ asset('images/placehold.jpg') }}{% endif %}
                )">
            <div class="content-img-name">
                {{ form_row(form.name) }}
            </div>
            {% if trick.id is empty %}
            <div class="image-icons">
                <a href="" class="trick-image-edit"><i class="fas fa-pen"></i></a>
                <a href="" class="trick-image-delete"><i class="fas fa-trash-alt"></i></a>
                <a href="" class="trick-image-add"><i class="fas fa-plus"></i></a>
            </div>
            {% endif %}
        </div>

        <div class="content-content">
            <div id="media">
                <h4 class="text-center mt-4">Photos du trick</h4><br>
                <div id="media-images">
                {% include 'parts/list-images.html.twig' with {images: trick.images} %}
                </div>
                <h4 class="text-center mt-4">Vidéos du trick</h4><br>
                <div id="media-videos">
                {% include 'parts/list-videos.html.twig' with {videos: trick.videos} %}
                </div>
            </div>
            <img class="loader" src="{{ asset('images/loader.gif') }}" style="display: none">
            <div class="content-content-btn">
                <a class="btn btn-red add_imgs_btn">Ajouter des images</a><br>
                <a class="btn btn-red add_videos_btn" >Ajouter une vidéo</a>
            </div>

            <div class="content-description">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
            </div>

            <div class="content-infos">
                {{ form_row(form.trickGroup) }}
            </div>

            <div class="hidden-field">
                {% if trick.id is empty %}
                    {{ form_row(form.imagesFiles) }}
                    {{ form_row(form.mainImageFile) }}
                {% else %}
                <input id="trick_imagesFiles" name="images" type="file" multiple>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-blue">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
