{% extends 'boxshadow.html.twig' %}

{% block children %}
    <div class="trick-form">
        {{ form_start(form) }}
        <div class="content-img position-relative" style="background-image:url(
        {% if trick.mainImage is defined and trick.mainImage is not empty %}{{ asset('images/tricks/' ~ trick.mainImage.imageName) }}
        {% else %}{{ asset('images/placehold.jpg') }}{% endif %}
                )">
            <div class="content-img-name">
                {{ form_row(form.name) }}
            </div>
{#            <div class="image-icons">#}
{#                <a href="" class="trick-image-edit"><i class="fas fa-pen"></i></a>#}
{#                <a href="" class="trick-image-delete" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt"></i></a>#}
{#                <a href="" class="trick-image-add"><i class="fas fa-plus"></i></a>#}
{#            </div>#}
        </div>

        <div class="content-content">
            <div id="media">
                {% include 'tricks/list-images.html.twig' with {images: trick.images} %}
            </div>
            <img class="loader" src="{{ asset('images/loader.gif') }}" style="display: none">
            <div class="content-content-btn">
                <a class="btn btn-success add_imgs_btn">Ajouter des images</a>
                <a class="btn btn-success add_videos_btn" >Ajouter une vidéo</a>
            </div>

            <div class="content-description">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
            </div>

            <div class="content-infos">
                {#            choose group             #}
            </div>

            

            <div class="hidden-field">
                <input id="trick_imagesFiles" type="file" multiple>
            </div>

            <button type="submit" class="btn btn-primary">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>
    <script>
        var trickID = {{ trick.id }};
    </script>
{% endblock %}
