{% extends 'boxshadow.html.twig' %}

{% block children %}
    <div class="trick-page">
        <div class="content-img position-relative"
             style="background-image:url(
             {% if trick.mainImage is defined and trick.mainImage is not empty %}{{ asset('images/tricks/' ~ trick.mainImage.imageName) }}
             {% else %}{{ asset('images/placehold.jpg') }}{% endif %}
                     )">
            <div class="content-img-name">
                <h2>{{ trick.name }}</h2>
            </div>
            <div class="image-icons">
                <a href="{{ path('edit_trick', {id: trick.id}) }}"><i class="fas fa-pen"></i></a>
                <a href="" data-toggle="modal" data-target="#deleteModal{{ trick.id }}"><i class="fas fa-trash-alt"></i></a>
            </div>
            {% include('parts/delete-modal.html.twig') %}
        </div>
        {% for message in app.flashes('success-edit') %}
            <div class="alert alert-success w-90 mx-auto mt-4">{{ message }}</div>
        {% endfor %}
        <div class="content-content">
            <div id="medias">
                <div class="row">
                    {% include 'parts/list-images.html.twig' with {images: trick.images} %}
                    {% include 'parts/list-videos.html.twig' with {videos: trick.videos} %}
                </div>
            </div>
            {% if trick.images is not empty or trick.videos is not empty %}
                <button class="btn btn-blue d-md-none" id="show-medias">Voir les médias</button>
            {% endif %}

            <div class="content-description">
                <h4>Descriptif du trick</h4>
                {{ trick.description|raw }}
            </div>

            <div class="content-infos">
                <div class="text-md-right text-center">
                    <div class="content-infos-group">{{ trick.trickGroup }}</div>

                </div>
                <div class="row content-infos-date">
                    <div class="col-md text-md-left">
                        <span class="content-infos-date-creation">Rédigé le {{ trick.created | date('d/m/Y') }}</span>
                    </div>
                    {% if trick.updated %}
                        <div class="col-md text-md-right">
                            <span class="content-infos-date-updated">Mis à jour le {{ trick.updated | date('d/m/Y') }}</span>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="comments-area">
                {% if app.user %}
                    <hr>
                    {% for message in app.flashes('success-comment') %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endfor %}
                    <h4>Ajouter un commentaire</h4>
                    {{ form_start(form) }}
                    {{ form_row(form.content) }}
                    <button type="submit" class="btn btn-blue">Envoyer</button>
                    {{ form_end(form) }}
                {% endif %}
                {% if comments %}
                    <div class="comments-published">
                        <hr>
                        <h4>Commentaires en ligne</h4>
                        {% include 'parts/list-comments.html.twig' %}
                    </div>
                    {% if comments|length is same as(5) %}
                        <button type="button" class="btn btn-red load-comments-btn">Voir +</button>
                        <img class="loader" src="{{ asset('images/loader.gif') }}">
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
