{% extends 'boxshadow.html.twig' %}

{% block children %}
    <div class="trick-page">
        <div class="content-img position-relative"
             style="background-image:url(
             {% if trick.mainImage is defined and trick.mainImage is not empty %}{{ asset('images/tricks/' ~ trick.mainImage.imageName) }}
             {% else %}{{ asset('images/placehold.jpg') }}{% endif %}
                     )">
            <div class="content-img-name">
                <h2>{{ trick.name }}</h2>
            </div>
            <div class="image-icons">
                <a href="{{ path('edit_trick', {id: trick.id}) }}"><i class="fas fa-pen"></i></a>
                <a href="" data-toggle="modal" data-target="#deleteModal{{ trick.id }}"><i class="fas fa-trash-alt"></i></a>
            </div>
            {% include('parts/delete-modal.html.twig') %}
        </div>
        <div class="content-content">
            <div id="medias">
                <div class="row">
                    {% include 'parts/list-images.html.twig' with {images: trick.images} %}
                    {% include 'parts/list-videos.html.twig' with {videos: trick.videos} %}
                </div>
            </div>

            {#            <button class="btn btn-primary" type="button">Voir les médias</button>#}

            <div class="content-description">
                {{ trick.description|raw }}
            </div>

            <div class="content-infos">
                <div class="content-infos-group">{{ trick.trickGroup }}</div>
                <div class="content-infos-date-creation text-right text-muted">{{ trick.created | date('d/m/Y') }}</div>
                {% if trick.updated %}
                    <div class="content-infos-date-updated">{{ trick.updated | date('d/m/Y') }}</div>
                {% endif %}
            </div>

            <div class="comments-area">
                {% if app.user %}
                    {{ form_start(form) }}
                    {{ form_row(form.content) }}
                    <button type="submit" class="btn btn-success">Envoyer</button>
                    {{ form_end(form) }}
                {% endif %}
                {% if comments %}
                    <div class="comments-published">
                        <hr>
                        {% include 'parts/list-comments.html.twig' %}
                    </div>
                    {% if comments|length is same as(5) %}
                    <button type="button" class="btn btn-primary load-comments-btn">Voir +</button>
                    <img class="loader" src="{{ asset('images/loader.gif') }}">
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
