{% extends 'boxshadow.html.twig' %}

{% block children %}
    <div class="trick-page">
        <div class="content-img position-relative"
             style="background-image:url(
             {% if trick.imageName is defined and trick.imageName is not empty %}{{ asset('images/tricks/' ~ trick.imageName) }}
             {% else %}{{ asset('images/placehold.jpg') }}{% endif %}
         )">
            <div class="content-img-name">
                <h2>{{ trick.name }}</h2>
            </div>
            <div class="image-icons">
                <a href="{{path('edit_trick', {id: trick.id})}}"><i class="fas fa-pen"></i></a>
                <a href="" data-toggle="modal" data-target="#deleteModal{{ trick.id }}"><i class="fas fa-trash-alt"></i></a>
            </div>
            {% include('parts/delete-modal.html.twig') %}
        </div>
        <div class="content-content">
            <div id="medias">
                <div class="row">
                    {% for image in trick.images %}
                        <div class="col-sm">
                            <div class="image">
                                <div class="image-div" style="background-image: url({{ asset('images/tricks/' ~ image.imageName) | imagine_filter('thumb') }})"></div>
                            </div>
                        </div>
                    {% endfor %}
                    {% for video in trick.videos %}
                        <div class="col-sm">
                            <div class="video">
                                <img src="" alt="">id {{ video.id }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

{#            <button class="btn btn-primary" type="button">Voir les médias</button>#}

            <div class="content-description">
                {{ trick.description|raw }}
            </div>

            <div class="content-infos">
{#                                <div class="content-infos-group">{{ trick.group }}</div>#}
                <div class="content-infos-date-creation text-right text-muted">{{ trick.created | date('d/m/Y') }}</div>
                {% if trick.updated %}
                    <div class="content-infos-date-updated">{{ trick.updated | date('d/m/Y') }}</div>
                {% endif %}
            </div>

            <div class="comments-area">
                {% if app.user %}
                <form>
                    <h3>Ajouter un commentaire</h3>
                    <textarea class="form-control" name="comment" id="comment"></textarea>
                    <button class="btn btn-primary" type="submit">Envoyer</button>
                </form>
                {% endif %}
                <div class="comments-published">
                    {% if trick.comments is not empty %}
                        <hr>
                        {% for comment in trick.comments %}
                            <div class="comment">
                                <div class="row">
                                    <div class="col-2">
                                        <div class="comments-published-avatar">{{ comment.user.avatar }}</div>
                                        <span class="comments-published-name">{{ comment.user.username }}</span>
                                    </div>
                                    <div class="col-10">
                                        <p>{{ comment.content }}</p>
                                        <span class="text-muted">{{ comment.created | date('d/m/Y') }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <button type="button" class="btn btn-primary load-btn">Voir +</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
