{% for comment in comments %}
    <div class="comment">
        <div class="row">
            <div class="col-2 mt-1">
                <div class="comment-published-avatar" style="background-image: url(
                {% if comment.user.avatar %}
                    {{ asset('images/avatars/' ~ comment.user.avatar) }}
                {% else %}
                    {{ asset('images/unknow.jpg') }}
                {% endif %}
                        )"></div>
                <span class="comment-published-name">{{ comment.user.username }}</span>
            </div>
            <div class="col-10 comment-content">
                <p>{{ comment.content }}</p>
                <div class="text-right"><span>{{ comment.created | date('d/m/Y') }}</span></div>
            </div>
        </div>
    </div>
{% endfor %}